<div class="container-fluid">
    <div class="row">
        <div class="col map">
           <h1>Quick viewer</h1>
            <div id="viewer-container"></div>
            <script src="/javascripts/bundle.js"></script>
        </div>
    </div>
</div>